<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="log4net"
		type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	<log4net>
		<appender name="TestAppender"

		type="log4net.Appender.RollingFileAppender" >
			<file value="C:\Users\HP\source\repos\Bookswagon\Bookswagon\Reports\Books.log" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
			</layout>
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="TestAppender" />
		</root>
	</log4net>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="URL" value="https://www.bookswagon.com" />
		<add key="JSON" value="C:\\Users\\HP\\source\\data\\Credentials.json" />
		<add key="Name" value="Rajesh Kumar Roulo"/>
		<add key="Company" value="Bridgelabz"/>
		<add key="Address" value="Keadripuram village, via Ichapuram "/>
		<add key="City" value="Srikakulam"/>
		<add key="Pin" value="532312"/>
		<add key="Mobile" value="9542030759"/>
		<add key="Path" value="C:\\Users\\HP\\source\\repos\\Bookswagon\\Bookswagon\\Reports\\index.html"/>
	</appSettings>
	
</configuration>